<nav class="navbar navbar-expand-md navbar-light bg-light" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <a href="/">
      <h1 style="text-decoration: none; color: black;">TJD LIBRARY SYSTEMS</h1>
    </a>
    <button class="navbar-toggler" data-target="#navbarColor01" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <form class="form-inline" action="#" th:action="@{/search_artifact}" th:object="${artifact}">
            <div>
              <input class="form-control mr-auto" placeholder="Search" type="search" name="search"
                     id="search">
              <button class="btn btn-outline-info mr-auto" style="margin-left: auto; margin-right: auto;" type="submit">
                Search
              </button>
            </div>
          </form>
        </li>
        <li class="nav-item active">
          <a class="btn btn-primary" type="button" href="/">Home</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary special" type="button">About</button>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" type="button" th:if="${user != null}" th:href="@{/user_profile(id=${user.id})}">Profile</a>
        </li>

        <div class="row">
          <li class="nav-item ">
            <span th:if="${user == null}"><span th:include="modals/login.html"></span></span>
            <span th:if="${user != null}"><a class="btn btn-primary" href="/logout" type="button">Logout</a></span>
          </li>
          <li class="nav-item">
            <span th:if="${user == null}"><span th:include="modals/sign_up.html"></span></span>
          </li>
        </div>
      </ul>
    </div>
  </div>

</nav>
