<!-- todo debug this. What's going on here with the meta tag? -->
<meta
<meta charset="UTF-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
<!--  todo remove the below line for deployment -->
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css"
      integrity="sha384-0d2eTc91EqtDkt3Y50+J9rW3tCXJWw6/lDgf1QNHLlV0fadTyvcA120WPsSOlwga" rel="stylesheet">
