html, body {
    height: 100%;
    width: 100%;
}
.navbar {
    padding: 0px;
    border-bottom: solid 1px black;
}
.navbar-nav li{
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-nav li .btn{
    padding: 0, 5px, 0, 5px;
    margin: 5px;
    width: 100px;
}

li .btn {
    font-size: 1.2em;
}

footer {
    margin-top: 10px;
    background-color: #3f3f3f;
    color: #f0f0f0;
}

.foot-hr{
    background-color: #d5d5d5;
}


@media (max-width: 992px) {
    .navbar-nav li .btn{
        width: 85px;
    }
}
