<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- todo create variable title with Thymeleaf -->
  <title th:text="${artifact.title}">Artifact</title>

  <link href="css/layout.css" rel="stylesheet" type="text/css">
  <!--  todo remove the below line for deployment -->
  <link href="../static/css/layout.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <!--  todo remove the below line for deployment -->
  <link href="../static/css/style.css" rel="stylesheet" type="text/css">

  <style>
    .page-box {
      border: 1px solid black;
      border-radius: 5px;
    }

    /*td {*/
    /*  padding: 0 !important;*/
    /*}*/

    tr > td {
      font-weight: bold;
    }

    td ~ td {
      font-weight: normal;
    }

    .btn-gang {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      margin: 0.1rem 0 !important;
    }
  </style>

  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0d2eTc91EqtDkt3Y50+J9rW3tCXJWw6/lDgf1QNHLlV0fadTyvcA120WPsSOlwga" crossorigin="anonymous">
</head>
<body>
<div th:replace="header.html">
  <h1>HEADER Library Management System</h1>
</div>
<div id="grid" class="container">
  <div class="row">
    <div class="col-lg-8" id="artifact">
      <div class="page-box my-4 px-5 pb-3 shadow-lg" id="a-box">
        <h3 class="my-4" style="//padding-top: 20px; //padding-bottom: 20px;" th:text="${artifact.title}">Harry Potter
          and the Half-Blood
          Prince</h3>
        <table class="table table-borderless text-table mb-4" id="mainInfo">
          <tbody>
          <tr>
            <td class="w-25 key-text">Author:</td>
            <td th:text="${artifact.author}">J.K. Rowling</td>
          </tr>
          <tr>
            <td class="w-25 key-text">Publisher:</td>
            <td th:text="${artifact.publisher}">Bloomsbury</td>
          </tr>
          <tr>
            <td class="w-25 key-text">Date:</td>
            <td th:text="${artifact.releaseDateString}">2005</td>
          </tr>
          <tr>
            <td class="w-25 key-text">Subject:</td>
            <td th:text="${artifact.subject}">Book</td>
          </tr>
          <tr>
            <td class="w-25 key-text">Genre:</td>
            <td th:text="${artifact.genre}">Fantasy Fiction</td>
          </tr>
          </tbody>
        </table>
        <h5>Additional Information</h5>
        <table class="table table-borderless text-table" id="addInfo">
          <tbody>
          <tr>
            <td class="w-25 key-text">Library Location:</td>
            <td th:text="${artifact.libraryLocation}">Location not found</td>
          </tr>
          <tr>
            <td class="w-25 key-text">Language:</td>
            <td th:text="${artifact.language}">Language not found</td>
          </tr>
          <!-- Additional details provided by the subclass below -->
          <tr th:each="detailEntry : ${additionalDetails}">
            <td class="w-25 key-text" th:text="${detailEntry.key}">Key</td>
            <td th:text="${detailEntry.value}">Value</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-1"></div>
    <div id="control" class="col-lg-3">
      <div class="d-flex justify-content-center flex-column page-box shadow-lg my-4 p-3">
        <a href="#" class="btn btn-primary btn-lg btn-block my-2">Reserve it</a>
        <p style="text-align: center;">0 copies available currently</p>
        <p style="text-align: center;">Next available on 23-Feb 2020</p>
      </div>
      <div class="d-flex justify-content-center flex-column page-box shadow-lg my-4 p-3" id="admin-panel"
           th:if="${isAdmin}">
        <a href="#" class="btn btn-primary btn-lg btn-block mt-2 mb-4">Receive</a>
        <h4 style="text-align: center;">Options</h4>
        <div class="btn-gang d-flex justify-content-center flex-column">
          <a href="#" class="btn btn-outline-primary btn-block">View Reservations</a>
          <a href="#" class="btn btn-outline-primary btn-block">Edit Artifact</a>
        </div>
        <div class="btn-gang d-flex justify-content-center flex-column">
          <a href="#" class="btn btn-outline-warning btn-block">Delete Artifact</a>
          <a href="#" class="btn btn-outline-danger btn-block">Hide Artifact</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="footer.html">
  <h1>FOOTER</h1>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>