<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a style="height: 80px;"class="navbar-brand" href="/"><img style="height: 100%; width:100%;" src="images/logo.png" alt="department of homeland obscurity"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <button type="button" class="btn btn-light">Home</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light">About</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light">Profile</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">Login</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">Sign Up</button>
                </li>
                <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control mr-auto" type="search" placeholder="Search">
                        <button style="margin-left: auto; margin-right: auto;" class="btn btn-outline-success mr-auto" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</nav>