<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <h1 >TJD LIBRARY SYSTEMS</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <form class="form-inline">
                        <div>
                            <input class="form-control mr-auto" type="search" placeholder="Search">
                            <button style="margin-left: auto; margin-right: auto;" class="btn btn-outline-success mr-auto" type="submit">Search</button>
                        </div>
                    </form>
                </li>
                <li class="nav-item active">
                    <button type="button" class="btn btn-light">Home</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light special">About</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light">Profile</button>
                </li>

                <div class="row">
                    <li class="nav-item">
                        <button type="button" class="btn btn-success">Login</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-success">Sign Up</button>
                    </li>
                </div>
            </ul>
        </div>
    </div>

</nav>
