<nav style="border: solid 1px black;" class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <a style="padding: 0px; margin: 0px;"class="navbar-brand" href="/"><img style="height: 60px; width:250px; margin: 0px; padding: 0px;"src="images/logo.png" alt="department of homeland obscurity"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <button type="button" class="btn btn-light">Home</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light">About</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-light">Profile</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">Login</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary">Sign Up</button>
                </li>
                <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control mr-auto" type="search" placeholder="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</nav>