<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- todo change this to portal user.name -->
  <title>Portal - Librarian</title>
  <link href="css/layout.css" rel="stylesheet" type="text/css">
  <!--  todo remove the below line for deployment -->
  <link href="../static/css/layout.css" rel="stylesheet" type="text/css">

  <style>
    .wrapper {
      display: flex;
      width: 100%;
      align-items: stretch;
    }

    h2 {
      color: white;
    }

    #sidebar a {
      color: white;
    }

    .primary-li {
      padding-bottom: 0.5rem;
    }

    .secondary-li {
      padding: 0.5rem 0 0 1.5rem;
    }

    .display-3 {
      font-size: 1.75rem !important;
    }

    .display-4 {
      font-size: 1.5rem !important;
    }
  </style>

  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css"
        integrity="sha384-0d2eTc91EqtDkt3Y50+J9rW3tCXJWw6/lDgf1QNHLlV0fadTyvcA120WPsSOlwga" rel="stylesheet">
</head>
<body>
<div id="header" th:replace="header.html">
  <h1>HEADER Library Management System</h1>
</div>
<!-- sidenav made with the help of https://bootstrapious.com/p/bootstrap-sidebar -->
<div class="wrapper">
  <nav class="px-3 bg-primary" id="sidebar">
    <div class="sidebar-header my-4">
      <h2>Librarian Portal</h2>
    </div>
    <ul class="list-unstyled components">
      <li class="active primary-li">
        <a aria-expanded="false" class="dropdown-toggle display-3" data-toggle="collapse" href="#catalogueSubmenu">Catalogue</a>
        <ul class="collapse list-unstyled" id="catalogueSubmenu">
          <li class="secondary-li"><a class="display-4" href="#">Complete</a></li>
          <li class="secondary-li"><a class="display-4" href="#">On Loan</a></li>
          <li class="secondary-li"><a class="display-4" href="#">Reserved</a></li>
        </ul>
      </li>
      <li class="active primary-li">
        <a aria-expanded="false" class="dropdown-toggle display-3" data-toggle="collapse" href="#loansSubmenu">Loans</a>
        <ul class="collapse list-unstyled" id="loansSubmenu">
          <li class="secondary-li"><a class="display-4" href="#">Current</a></li>
          <li class="secondary-li"><a class="display-4" href="#">Archive</a></li>
        </ul>
      </li>
      <li class="primary-li"><a class="display-3" href="#">Members</a></li>
      <li class="primary-li"><a class="display-3" href="#">Add Artifact</a></li>
    </ul>
  </nav>
  <div id="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6" id="person">
          <div class="page-box my-4 px-5 pb-3 shadow-lg">
            <table class="table table-borderless text-table mb-4" id="person-info">
              <tbody>
              <tr>
                <td class="w-25 key-text">Employee ID:</td>
                <td>LB1001</td>
              </tr>
              <tr>
                <td class="w-25 key-text">Name:</td>
                <td>Mary Jones</td>
              </tr>
              <tr>
                <td class="w-25 key-text">Phone:</td>
                <td>+353 87 123 4567</td>
              </tr>
              <tr>
                <td class="w-25 key-text">Date Joined:</td>
                <td>09-Mar 2017</td>
              </tr>
              <tr>
                <td class="w-25 key-text">Genre:</td>
                <td>Fantasy Fiction</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-lg-6" id="edit-info">
          <div class="page-box my-4 px-5 pb-3 shadow-lg">
            <a class="btn btn-primary" href="#">Edit Profile</a>
            <a class="btn btn-primary" href="#">Change Password</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6" id="tasks"></div>
        <div class="col-lg-6" id="messages"></div>
      </div>
    </div>
  </div>
</div>
<div id="footer" th:replace="footer.html">
  <h1>FOOTER</h1>
</div>
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>