<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DoHLO Login</title>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/journal/bootstrap.min.css"
        integrity="sha384-0d2eTc91EqtDkt3Y50+J9rW3tCXJWw6/lDgf1QNHLlV0fadTyvcA120WPsSOlwga" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<header th:replace="header.html"></header>

<div class="container">
  <div class="row" style="margin-top: 15%">
    <h2>Login</h2>
  </div>
  <form action="/login" method="POST">
    <div class="form-group">
      <div class="row">
        <div class="col-9" style="margin-left: 10%">
          <label class="col-form-label" for="loginUsername">Username</label>
          <input class="form-control" id="loginUsername" name="username" placeholder="username" type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-9" style="margin-left: 10%">
          <label class="col-form-label" for="loginPassword">Password</label>
          <input class="form-control" id="loginPassword" name="password" placeholder="password" type="password">
        </div>
      </div>
      <span th:if="error != null">
                <div class="row">
                    <p style="color:red;" th:text="${error}"></p>
                </div>
            </span>
      <div class="row">
        <div class="col-10"></div>
        <div class="col" style="margin-top: 5%">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>


</div>

<footer th:replace="footer.html"></footer>
</body>
</html>
